<ion-content>
  <ion-list lines="full">
    <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">메뉴</ion-label>
        <ion-input formControlName="menu" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">개수</ion-label>
        <ion-input formControlName="cnt" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">가격</ion-label>
        <ion-input formControlName="price" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button class="add" type="submit"  expand="block">추가</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>