<ion-content>

    <ion-grid class="grid1">
    
        <ion-row class="row1">
            <ion-col class="img-container">
                <img class="sngy-logo" src="https://image.rocketpunch.com/company/107222/ju-sineoji_logo_1616734050.png?s=400x400&t=inside">
            </ion-col>
        </ion-row>
    
        <ion-row class="row2">
            <ion-col>
            </ion-col>
        </ion-row>
    
    </ion-grid>
    
    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h1>로그인</h1>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-icon name="person"></ion-icon>
                                <ion-input name="user" type="text" required placeholder="이름" (ionChange)="onChange($event)"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button mode="ios" expand="block" type="submit" fill="solid" strong="true" (click)="goBack()">환영합니다</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-slide>
</ion-content>
