<ion-content>

  <p>주문 요약표</p>

  <div id="title">
    <ion-grid>
        <ion-row>
          <ion-col>이름</ion-col>
          <ion-col>메뉴</ion-col>
          <ion-col>가격</ion-col>
          <ion-col>수량</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row class="order-menu">
        <ion-col>차성민</ion-col>
        <ion-col>짜장면</ion-col>
        <ion-col>5,500원</ion-col>
        <ion-col>2</ion-col>
      </ion-row>
      <ion-row class="order-menu">
        <ion-col>민성차</ion-col>
        <ion-col>볶음밥</ion-col>
        <ion-col>5,000원</ion-col>
        <ion-col>1</ion-col>
      </ion-row>
      <ion-row class="order-menu">
        <ion-col>성차민</ion-col>
        <ion-col>탕수육</ion-col>
        <ion-col>13,000원</ion-col>
        <ion-col>1</ion-col>
      </ion-row>
      <ion-row class="order-menu">
        <ion-col>차성</ion-col>
        <ion-col>차돌짬뽕</ion-col>
        <ion-col>8,000원</ion-col>
        <ion-col>1</ion-col>
      </ion-row>
      <ion-row class="order-menu">
        <ion-col>성민</ion-col>
        <ion-col>유니짜장</ion-col>
        <ion-col>7,000원</ion-col>
        <ion-col>3</ion-col>
      </ion-row>
    </ion-grid>
    

    <ion-grid style="position: fixed; bottom: 0; width: 100%;">
      <ion-row>
        <ion-col style="padding-bottom: 0;">
          <ion-button (click)="showAlert()" expand="block" fill="outline" strong="true" class="accept-button">네</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="padding-top: 0;">
          <ion-button expand="block" fill="solid" strong="true" class="refuse-button" (click)="close()">아니요</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  

</ion-content>

