<ion-content>

  <h2 style="text-align: center; font-weight: bold;">주문 요약표</h2>

  <div id="title">
    <ion-grid>
        <ion-row>
          <ion-col>이름</ion-col>
          <ion-col>메뉴</ion-col>
          <ion-col>수량</ion-col>
          <ion-col>가격</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="table">
    <ion-grid>
      <ion-row class="order-menu">
        <ion-col>차성민</ion-col>
        <ion-col>짜장면</ion-col>
        <ion-col>1</ion-col>
        <ion-col>6,000원</ion-col>
      </ion-row>

      <ion-row class="order-menu">
        <ion-col>차성민</ion-col>
        <ion-col>차돌짬뽕</ion-col>
        <ion-col>1</ion-col>
        <ion-col>8,000원</ion-col>
      </ion-row>

      <ion-row class="order-menu">
        <ion-col>차성민</ion-col>
        <ion-col>차돌짬뽕</ion-col>
        <ion-col>1</ion-col>
        <ion-col>8,000원</ion-col>
      </ion-row>

      <ion-row class="order-menu">
        <ion-col>차성민</ion-col>
        <ion-col>짜장면</ion-col>
        <ion-col>1</ion-col>
        <ion-col>6,000원</ion-col>
      </ion-row>

      <ion-row class="order-menu">
        <ion-col>차성민</ion-col>
        <ion-col>차돌짬뽕</ion-col>
        <ion-col>1</ion-col>
        <ion-col>8,000원</ion-col>
      </ion-row>

      <ion-row class="order-menu">
        <ion-col>차성민</ion-col>
        <ion-col>계란볶음밥</ion-col>
        <ion-col>1</ion-col>
        <ion-col>5,000원</ion-col>
      </ion-row>
      
      <ion-row class="order-menu">
        <ion-col>차성민</ion-col>
        <ion-col>탕수육</ion-col>
        <ion-col>1</ion-col>
        <ion-col>12,000원</ion-col>
      </ion-row>

      <h2 style="text-align: center; font-weight: bold;">메뉴 종합</h2>

      <div id="title">
        <ion-grid>
            <ion-row>
              <ion-col>메뉴</ion-col>
              <ion-col>수량</ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-row class="order-menu">
        <ion-col>차돌짬뽕</ion-col>
        <ion-col>3개</ion-col>
      </ion-row>

      <ion-row class="order-menu">
        <ion-col>짜장면</ion-col>
        <ion-col>2개</ion-col>
      </ion-row>

      <ion-row class="order-menu">
        <ion-col>계란볶음밥</ion-col>
        <ion-col>1개</ion-col>
      </ion-row>

      <ion-row class="order-menu">
        <ion-col>팅수육</ion-col>
        <ion-col>1개</ion-col>
      </ion-row>

      <ion-row class="result">
        <ion-col class="all-style">총 인원</ion-col>
        <ion-col>7명</ion-col>
      </ion-row>

      <ion-row class="result">
        <ion-col class="all-style">총 금액</ion-col>
        <ion-col>52,000원</ion-col>
      </ion-row>



    </ion-grid>
    

    <!-- <ion-grid style="position: fixed; bottom: 0; width: 100%;">
      <ion-row>
        <ion-col style="padding-bottom: 0;">
          <ion-button (click)="showAlert()" expand="block" fill="outline" strong="true" class="accept-button">주문완료</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </div>

  

</ion-content>

