#title {
  border-bottom: solid;
  text-align: center;
}

.order-menu {
  padding: 6px 0;
  border-bottom: solid 1px black;
}

.result {
  padding: 0px;
  border-bottom: solid 1px black;
}

.all-style {
  background-color: #d3d3d3;
}

.table {
  text-align: center;
}

.accept-button {
  --border-color: #00bfff;
  --color: #00bfff;
  --box-shadow: none;
}

// .refuse-button {
//   --background: #00bfff;
//   --color: white;
//   --box-shadow: none;
// }
